.jorney {
  margin: 93px auto 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .jorney {
    margin-top: 90px;
  }
}

@media screen and (max-width: 550px) {
  .jorney {
    margin-top: 78px;
  }
}

@media screen and (max-width: 425px) {
  .jorney {
    margin: 66px 0 0 0;
  }
}