.jorney {
  margin: 93px auto 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../../images/cover__background.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.jorney::before {
  content: " ";
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.jorney:hover::before {
  opacity: .8;
  transition: 1s;
}